/**************************************************** BAS ************************************************/
footer{ 
    background: #000; 
    color: white; 
    text-align: center; 
    padding: 7px 0;
}