/**************************************************** HAUT ************************************************/
header { 
    background: #000000; 
    padding: 5px; 
    text-align: center;
}
.hd{
    display: flex;
    justify-content: space-around;
    align-items: center; 
}



header  span{ color: #fff; font-weight: bold; text-transform: uppercase; margin-right: 5%; }
header  nav{ 
    display: inline;
    width: 70%; 
    max-width: 800px;
    min-width: 200px;
    
}
header  a{ 
    color: #ffffff; 
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5vh; 
    font-size: 1em;
}
header  nav  a:hover{ background: #ffffff; color: rgb(0, 0, 0); }

.logo{
    width: 15vh;
}

.panier{
    width: 4vh;
}

.r-menu{
    margin-bottom: 10vh;
    display: flex;
    align-items:baseline;
    justify-content: center;
}

.r-connexion{
    display: flex;
    flex-direction: column;
    
    padding:0;
    
}

.menuderoulant{
    list-style: none;
}

.menuderoulant li {
    float: left;
    width: 200px;
}

.menuderoulant li a:link, .menuderoulant li a:visited{
    color: #ffffff;
    background: #293245;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
}

.menuderoulant li a:hover {background-color: #199BD2;}
.menuderoulant li a:active{background-color: #808080;}
.menuderoulant .sousmenu{
    list-style: none;
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
}

.menuderoulant .sousmenu li{
    float: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;

}

.menuderoulant .sousmenu li a:link, .menuderoulant li a:visited{
    display: block;
    color: #ffffff;
    text-decoration: none;
}

.menuderoulant .sousmenu li a:hover{
    background-color: #199BD2;

}

.menuderoulant li:hover .sousmenu{
    display: block;
}